{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "rules":{
       "import/no-unresolved": "off",
       "no-useless-constructor": "off"
    },
    "extends": [
        "plugin:shopify/esnext",
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ]
}